 .initial-banner{
     width: 100%;
     height: 700px;
     background-image: url("/static/images/banner.jpg");
     background-size:100%,500px;
     background-repeat: no-repeat;
     background-size:cover;
    position:relative;
 }
 .title-content{
     position: absolute;
     top:27%;
     left:27%;
 }
 .txt-title{
     font-family:monospace;
     min-width:200px ;
     font-weight: 400;
     font-size: 40pt;
     color: beige;
     border-bottom-style:solid;
     border-color:beige;    
 }
 .txt-subtitle{
    font-family:monospace; 
    font-weight: 400;
    font-size: 20pt;
    color: beige;
 }
 .btn-shop{
    position: absolute;
   
    
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 200px;
     min-height: 45px;
    border-style: solid;
    border-width: thick ;
    height: 70px;
    width: 400px;
    top:54%;
    left: 35%;
 }
 .btn-shop p{
     font-family: monospace;
     font-size: 18pt;
    color: beige;
 }
 .btn-shop:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
 }