*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
 margin: 0;
 padding: 0;
 background-color: white;
}
.menu-bar{
    position: fixed;
    z-index: 1900;
    width: 100%;    
    height: 80px;
    display: flex;
    -webkit-box-pack: justify;
    border-bottom-style: solid;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    background-color: whitesmoke;
    border-width: .5px;
    border-color:#58647e;
    
   
}   
.search-bar{
    display: flex;
    border-radius: 3px;
    align-items: center;
    background-color:#dad8d8;
    padding-right: 1rem;
    box-shadow: none;
    height: 34px;
    width: 300px;
    min-width: 150px;
    text-overflow: ellipsis;
    
}
.search-bar i{
    color:#0f0f0f;
    padding-left:10px;
    padding-right: 7px;
}
.search{
    border-radius: 3px;
    border: none;
    background:none;
    padding-right: 1rem;
    box-shadow: none;
    height: 34px;
    width: 250px;
    min-width: 100px;
    text-overflow: ellipsis;
    color: #0f0f0f;
}
.search::after{
    border:none;
}
.menu-logo{
    float: left;
    line-height: 70px;
    padding-left: 3%;
    display: grid;
}
.menu-logo img{
    border-radius: 10%;
    height: 70px;
    width: 100px;
    border-radius: 40%;
    
}
.menu-logo a{
    height: 70px;
}
.menu-itens{
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    list-style: none;
    justify-content: center;
    text-decoration: none;
    padding-right: 100px;
}

.menu-itens ul li a{
text-decoration: none;
color:#1a202c;
font-size: 15pt;
transition:all .1s linear;
border-radius: 4px;

    line-height: 80px;
    
}
.menu-itens ul li{
    display:inline-block;
    padding:0px 15px 0px 15px;
    transition: all 2s;
   
}
.menu-itens ul li a:hover{
    color:teal;
 
}

.checkbtn{
    font-size: 30px;
    color :aliceblue;
    float:right;
    line-height: 80px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:950px) {
    .menu-logo{
        font-size: 50px;
        margin-left: 50px;
    }
    .menu-itens ul li a{
        font-size:16px;
    }
}
@media(max-width: 900px){
    .checkbtn{
        display: block;
        float: right;
    }
    .menu-itens ul{
        position: fixed;
        z-index: 1900;
        width: 100%;
        height: 100vh;
        background-color: black;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s; 
    }
    .menu-itens ul li{
        display: block;
        margin:40px;
        line-height: 50px;
    }
    .menu-itens ul li a{
        font-size: 13pt;
        color:seashell;
    }
    .menu-itens ul li a:hover{
        font-size: 16pt;
        color: rgb(235, 157, 42);
    }
    #check:checked ~ .menu-itens ul{
        left: 0;
        
    }
}
.content{
    padding-top: 80px;
    width: 100%;
    display: flex;
}

.painel{
    
    border-radius: 10px;
    padding:20px;
    box-shadow: 5px 5px 15px rgba(68, 68, 68, 0.2);
    background:rgb(248, 248, 248);
}
.formulario{

    display:grid;
    justify-content: center;
    flex-direction: column;
    margin:5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/*section h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size:23pt;
    margin:0;
    position: relative;
}
section h1::before{
    content:"";
    position:absolute;
    height: 3px;
    width: 340px;
    bottom: -5px;
    left: 17px;
    border-radius:10px;
    background-color:silver;
}*/
.formulario > div{
margin:2px; 
display: flex; 
}
.campoForm{
margin-left:3px; 
}
.boxTexto{
    font-size: 11pt;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(181, 200, 219);
}
.combobox{
    font-size: 11pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding:1px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(181, 200, 219);
}
p{
margin:0;
padding:0;
}
#formenviar{
    display: flex;
    justify-content: center;
}
#enviar{
    margin-top: 0.5rem;
    padding:0.2rem;
    background: linear-gradient(to right,#1e7225,#52982a);
    font-size: 0.9rem;
    font-weight: 500;
    width: 20.5rem;
    height: 30px;
    color:white;
    border-radius: 4px;
    border-style:none;
    font-family: inherit;
    cursor:pointer;
    border-width:2px;
    transition: all .2s ease-in-out;
    transform-origin: left;
}
#enviar:hover{
    letter-spacing: 1px;

}
a{
    color:white;
    font-family:"Poppins", sans-serif;
    text-decoration: none;
    font-size:11pt;
    padding: 0;
    margin:0;
}
#face{
    padding:7px;
    margin-bottom:7px;
    text-align: center;
    background: linear-gradient(to right,#1e3c72,#2a5298);
    
}

#gmail{ 
    padding:7px;
    margin-bottom:7px;
    text-align: center;
    background: linear-gradient(to right,#721e1e,#982a2a);
}
#twitter{
    width: 20rem;
    padding:7px;
    margin-bottom:7px;
    text-align: center;
    background: linear-gradient(to right,#56a7f2,#468aca);
}

.redes{
    display: grid;
    margin-top:10px;
    justify-content: center;
}
.redes p{
    margin-bottom:23px;
    text-align: center;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:relative;
    

}
.redes p::before{
    content:"";
    position:absolute;
    height: 3px;
    width: 300px;
    bottom: -5px;
    left: 20px;
    border-radius:10px;
    background-color:silver;
}
i{
    color:wheat;
}
 /* footer */

footer {
    background-color: #0f0f0f;
    margin-top: 10px;
    padding-top: 3em;
    padding-bottom: 10px;       
    width: 100%;
}
.wrapper{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}
footer h1, footer p, footer a{
    color:#d1d1d1;
}
footer h1{
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19pt;
    text-align: center;
    margin-bottom: 30px;
}
footer a{
    text-decoration: none;
}
.img_payment{
    max-height:50px;
    max-width: 100px;
}
.logo_footer{
    width: 200px;
    height: 155px;
    border-radius: 10%;
}
.footer_box{
    width: 31%;
    padding:1%;
    float:left;
}
.cImage{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.cImage img{
    padding-left:5px;
    padding-right: 3px;
}
.contact_container{
    display: flex;
    padding:10px;
    font-size: 12pt;
}
footer p{
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}