<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="shortcurt icon" href="/static/images/logo2.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>{% block title %}DocShoes{% endblock %}  </title>
</head>
<body>
    <header class="menu-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"> 
            <i class="fas fa-bars"></i>
        </label>
        <div class ="menu-logo">
        <a href="pagamento">
            <img src="/static/images/logo2.png">
        </a>
        </div>
        <form class="search-bar">
            <button type="submit" ><i class="fas fa-search"></i></button>
            <input type="text" class="search" placeholder="ex: Jordan 1 Chicago" name="search">
        </form>
        <div class="menu-itens">
            <ul>
                <li>
                    <a class="menu-select" href="index">Home</a>
                </li>
                <li>
                    <a class="menu-select" href="produtos">compra</a>
                </li>
                {%if username !=""%}
                <li>
                    <a href="/logout">
                    <div class="user">
                        <i class="far fa-user fa-lg"></i>
                        <p class="myUser">{{username}}</p>
                    </div>
                    </a>
                </li>
                <li>
                    <a class="menu-select" href="pagamento"><i class="fas fa-shopping-cart fa-lg"></i></a>
                </li>
                <style>
                   
                    .menu-select i{
                        padding-right: 0px;
                        
                        color:#575755
                    }
                    .user i{
                        padding:0;
                        margin:0;
                        height: 30px;
                    }

                </style>
                {%else%}
                <li>
                    <a class="menu-select" href="login">login</a>
                </li>
                <li>
                <a href="cadastro"><div class="btn-cadastrar"><p>cadastre-se</p></div></a>
                </li>
                {%endif%}
            </ul>
        </div>
    </header>
    <section class="content">
        {%block  content %}
        {% endblock %}
    </section>
    
    
    
    <footer>
        <div class ="wrapper">
            <div class ="footer_box">
                <div class ="company">
                    <div class="cImage"> 
                        <img class="logo_footer"src="/static/images/logo.png">
                    </div>
                </div>
            </div>
            <div class ="footer_box">
                <div class = "footer_contact">
                    <h1>Siga-nos nas redes sociais</h1>
                    <a href="#">
                        <div class="contact_container">
                        <i class="fab fa-whatsapp"></i><p>Whatsapp</p>
                        </div>
                    </a>
                    <a href="#">
                    <div class="contact_container">
                        <i class="fab fa-facebook-f"></i><p>Facebook</p>
                    </div>
                    </a>
                    <a href="#">
                    <div class="contact_container">
                        <i class="fab fa-instagram"></i><p>Instagram</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class ="footer_box">
                <div class = "footer_payment">
                    <h1>Nossas formas de pagamento</h1>
                    <div class="cImage">
                        <img src="/static/images/pix.png" class="img_payment">
                        <img src="/static/images/mercado-pago-logo.png" class="img_payment">
                        <img src="/static/images/bandeiraCartao.jpg" class="img_payment">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>