    {%extends 'base.html'%}

    {%block title%} {{super()}} - Cadastro{%endblock%}
    {%block content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <div class="div-login">
        <h1> CADASTRO</h1>
        <form action="" class="form-login">
            <div class="space-input">
                <i class="fas fa-user"></i>
                <input type="text" class="input-text" name=" user" placeholder="Usuário" >
            </div>
          <div class ="space-input">
            <i class="fas fa-lock"></i>
            <input type="password" class="input-text" name="password" placeholder="Senha" >
          </div>
          <div class ="space-input">
            <i class="fas fa-unlock"></i>
            <input type="password" class="input-text" name="confirm-password" placeholder="confirmar Senha" >
          </div>
          <div class ="space-input">
            <i class="fas fa-at"></i>
            <input type="email" class="input-text" name="email" placeholder="Email" >
          </div>
            
                <input type="submit" class="input-submit" name="submit" value="cadastro"> 
        </form>
    </div>
    
    {% endblock %}